<div id="banner">

	<div class="outline"></div>
	
	
	<div class="frame frame1">
		
		  <div id="shadow" class="flip-card-container">
		    <div class="flip-card">
		      
		      <div class="item flip-card-front">
		        <img id="" class="" src="../_common/images/<%= width %>x<%= height %>/_shadow.png">
		      </div>

		      <div class="item flip-card-back">
		        <img id="" class="" src="../_common/images/<%= width %>x<%= height %>/_shadow.png">
		      </div>

		    </div>
		  </div>

		   <div  id="hero" class="flip-card-container">
		    <div class="flip-card">
		      
		      <div class="item flip-card-front">
		        <img class="retina" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/a.jpg">
		      </div>

		      <div class="item flip-card-back">
		        <img class="retina" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/b.jpg">
		        <img id="cta" class="retina" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/cta.png">
		      </div>

		    </div>
		  </div>


	</div>

</div>